.Brands {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.Brands__images {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
